.loadMoreBtn {
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  background-color: #3b2b76;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
}

.loadMoreBtn:hover {
  background-color: #5a41b7;
}

.loadMoreBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
